VITE_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
VITE_HASURA_ADMIN_SECRET=YOUR_HASURA_ADMIN_SECRET
VITE_API_URL=http://localhost:8090/v1/graphql
VITE_WS_URL=ws://localhost:8090/v1/graphql
VITE_CITRINE_CORE_URL=http://localhost:8080
VITE_FILE_SERVER_URL=http://localhost:8050
VITE_LOGO_URL=https://public.demo.citrineos.app/logo-collapsed.svg
VITE_METRICS_URL=http://citrineos-ocpp-7468fea0e2db2c0c.elb.us-east-1.amazonaws.com:4318/v1/metrics
VITE_ADMIN_EMAIL=admin@citrineos.com
VITE_ADMIN_PASSWORD=CitrineOS!
