# SPDX-FileCopyrightText: 2026 Contributors to the CitrineOS Project
#
# SPDX-License-Identifier: Apache-2.0
services:
  citrine-ui:
    build:
      context: .
      dockerfile: ./Dockerfile
    expose:
      - "3000"
