/*
 * SPDX-FileCopyrightText: 2025 Contributors to the CitrineOS Project
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.nested-object {
  .ant-form-item {
    margin: 0;
  }
}

.ant-form-item-control-input-content > div {
  width: 100%;
}

.form-item-wrapper,
.optional-field-toggle,
.ant-form-item {
  padding: var(--ant-padding-xs) 0;
  border-radius: var(--ant-border-radius-sm);
  margin-bottom: var(--ant-padding-xxs);

  &.ant-form-item {
    margin: 0;
    .ant-form-item-label {
      padding-bottom: 0 !important;
    }
  }
}

.ant-table-cell {
  .form-item-wrapper,
  .optional-field-toggle,
  .ant-form-item {
    margin: 0;
    padding: 0;
    background: transparent;
  }
}

.merged-ant-form-item .ant-form-item {
  padding: 0;
  border: none;
  margin-bottom: 0;
  background: transparent !important;

  &.ant-form-item {
    margin: 0;
    .ant-form-item-label {
      padding-bottom: 0 !important;
    }
  }
}
