/*
 * SPDX-FileCopyrightText: 2025 Contributors to the CitrineOS Project
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
  height: 130px;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
}

.switch {
  align-self: center;
}

.search,
.avatar {
  width: 24px;

  svg {
    vertical-align: middle;
  }
}
