/*
 * SPDX-FileCopyrightText: 2025 Contributors to the CitrineOS Project
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Roobert', sans-serif;

  .ant-typography {
    font-family: 'Roobert', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -0.01em;
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
  }

  h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }

  h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  .body-xxl {
    font-size: 48px;
    font-weight: 275;
    line-height: 58px;
  }

  .body-xl {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
  }

  .body-l {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  .body-m {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }

  .body-s {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .body-xs {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .caption-m {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.04em;
  }

  .caption-m-light {
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
  }

  .caption-xs {
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.04em;
  }

  .caption-xs-light {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .caption-xxs {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
}
