@font-face {
  font-family: 'Roobert';
  src:
    url('/fonts/Roobert-Light.woff2') format('woff2'),
    url('/fonts/Roobert-Light.woff') format('woff'),
    url('/fonts/Roobert-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src:
    url('/fonts/Roobert-Medium.woff2') format('woff2'),
    url('/fonts/Roobert-Medium.woff') format('woff'),
    url('/fonts/Roobert-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src:
    url('/fonts/Roobert-Regular.woff2') format('woff2'),
    url('/fonts/Roobert-Regular.woff') format('woff'),
    url('/fonts/Roobert-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src:
    url('/fonts/Roobert-SemiBold.woff2') format('woff2'),
    url('/fonts/Roobert-SemiBold.woff') format('woff'),
    url('/fonts/Roobert-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src:
    url('/fonts/Roobert-Bold.woff') format('woff'),
    url('/fonts/Roobert-Bold.woff2') format('woff2'),
    url('/fonts/Roobert-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src:
    url('/fonts/Roobert-Heavy.woff') format('woff'),
    url('/fonts/Roobert-Heavy.woff2') format('woff2'),
    url('/fonts/Roobert-Heavy.ttf') format('truetype');
  font-weight: 800; /* Heavy */
  font-style: normal;
}

body {
  font-family: 'Roobert', sans-serif;
}

.ant-typography {
  font-family: 'Roobert', sans-serif;
}

main {
  background: var(--ant-layout-body-bg);
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity var(--ant-motion-duration-mid) ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity var(--ant-motion-duration-mid) ease-out;
}

.ant-layout-content {
  overflow: scroll;

  > div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 var(--ant-padding-xs) 0 0 !important;
  }
}

.ant-table-wrapper .ant-table-cell,
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td,
.ant-table-wrapper tfoot > tr > th,
.ant-table-wrapper tfoot > tr > td {
  padding: var(--ant-padding-xs) var(--ant-padding-xs);
}

.ant-drawer {
  .ant-drawer-body {
    padding: var(--ant-padding-xxs) var(--ant-padding-xs);
  }

  .ant-drawer-header {
    padding: var(--ant-padding-xs) var(--ant-padding-sm);
  }
}

.ant-input-disabled,
.ant-input-number-disabled,
.ant-select-disabled .ant-select-selector,
.ant-picker-disabled,
.ant-switch-disabled,
.ant-checkbox-wrapper-disabled .ant-checkbox,
.ant-btn-disabled {
  background-color: #fbfbfb !important;
  color: #8c8c8c !important;
}

.ant-layout {
  background: transparent;
}

/* Animation for grow from center */
.button-grow-enter {
  transform: scale(0.9);
  opacity: 0;
}

.button-grow-enter-active {
  transform: scale(1);
  opacity: 1;
  transition:
    transform 300ms ease,
    opacity 300ms ease;
}

.button-grow-exit {
  transform: scale(1);
  opacity: 1;
}

.button-grow-exit-active {
  transform: scale(0.9);
  opacity: 0;
  transition:
    transform 300ms ease,
    opacity 300ms ease;
}
