:root {

  --logo-color-0: #D16B00;
  --logo-color-1: #E38900;
  --logo-color-2: #FA7C35;
  --logo-color-3: #FFAE0B;
  --logo-color-4: #FCFF74;

  --primary-color-0: #FFE1C7;
  --primary-color-1: #FFAE0B;
  --primary-color-2: #CD8B00;
  --primary-color-3: #9C6900;
  --primary-color-4: #6E4900;
  --primary-color-5: #442B00;
  --primary-color-6: #1D1000;

  --secondary-color-0: #D7DCFF;
  --secondary-color-1: #A5B2FF;
  --secondary-color-2: #6E87FF;
  --secondary-color-3: #0B5CFF;
  --secondary-color-4: #003EB5;
  --secondary-color-5: #00226E;
  --secondary-color-6: #000D37;

  --grayscale-color-0: #E7E6E4;
  --grayscale-color-1: #C3BDB9;
  --grayscale-color-2: #9C9793;
  --grayscale-color-3: #76726F;
  --grayscale-color-4: #53504E;
  --grayscale-color-5: #32302E;
  --grayscale-color-6: #131211;

  --ui-color-error: #F61631;
  --ui-color-error-light: #F87D8C;
  --ui-color-warning: #FF7300;
  --ui-color-warning-light: #FFA45A;
  --ui-color-success: #3DB014;
  --ui-color-success-light: #76C765;
}
