/*
 * SPDX-FileCopyrightText: 2025 Contributors to the CitrineOS Project
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
  --logo-color-0: #d16b00;
  --logo-color-1: #e38900;
  --logo-color-2: #fa7c35;
  --logo-color-3: #ffae0b;
  --logo-color-4: #fcff74;

  --primary-color-0: #e5f2ff;
  --primary-color-1: #9ed6ff;
  --primary-color-2: #00b4f5;
  --primary-color-3: #008cc0;
  --primary-color-4: #00668d;
  --primary-color-5: #00435e;
  --primary-color-6: #002232;

  --secondary-color-0: #ecedff;
  --secondary-color-1: #bec1ff;
  --secondary-color-2: #8e96ff;
  --secondary-color-3: #5a69ff;
  --secondary-color-4: #0039f5;
  --secondary-color-5: #0022a1;
  --secondary-color-6: #000d54;

  --grayscale-color-0: #e7e6e4;
  --grayscale-color-1: #c3bdb9;
  --grayscale-color-2: #9c9793;
  --grayscale-color-3: #76726f;
  --grayscale-color-4: #53504e;
  --grayscale-color-5: #32302e;
  --grayscale-color-6: #131211;

  --ui-color-error: #f61631;
  --ui-color-error-light: #f87d8c;
  --ui-color-warning: #ff7300;
  --ui-color-warning-light: #ffa45a;
  --ui-color-success: #3db014;
  --ui-color-success-light: #76c765;
}
