/*
 * SPDX-FileCopyrightText: 2025 Contributors to the CitrineOS Project
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
  --logo-color-0: #d16b00;
  --logo-color-1: #e38900;
  --logo-color-2: #fa7c35;
  --logo-color-3: #ffae0b;
  --logo-color-4: #fcff74;

  --primary-color-0: #ffe1c7;
  --primary-color-1: #ffae0b;
  --primary-color-2: #cd8b00;
  --primary-color-3: #9c6900;
  --primary-color-4: #6e4900;
  --primary-color-5: #442b00;
  --primary-color-6: #1d1000;

  --secondary-color-0: #d7dcff;
  --secondary-color-1: #a5b2ff;
  --secondary-color-2: #6e87ff;
  --secondary-color-3: #0b5cff;
  --secondary-color-4: #003eb5;
  --secondary-color-5: #00226e;
  --secondary-color-6: #000d37;

  --grayscale-color-0: #e7e6e4;
  --grayscale-color-1: #c3bdb9;
  --grayscale-color-2: #9c9793;
  --grayscale-color-3: #76726f;
  --grayscale-color-4: #53504e;
  --grayscale-color-5: #32302e;
  --grayscale-color-6: #131211;

  --ui-color-error: #f61631;
  --ui-color-error-light: #f87d8c;
  --ui-color-warning: #ff7300;
  --ui-color-warning-light: #ffa45a;
  --ui-color-success: #3db014;
  --ui-color-success-light: #76c765;
}
