/*
 * SPDX-FileCopyrightText: 2025 Contributors to the CitrineOS Project
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.view-charging-stations {
  color: var(--secondary-color-3);
  cursor: pointer;
}

.online {
  color: var(--ui-color-success);
}

.offline {
  color: var(--ui-color-error);
}
